*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comicStoreNavigation{
    display: flex;
  text-align: center;
  padding: 14px 16px;
  justify-content: space-between;
  vertical-align:auto;
  position: sticky;
}
.comicStoreNavigationItem{
    width: fit-content;
    margin-top: 10px;
}
#sansComic{
    width: 400px;
}
body{
    background-image: url("assets/images/comic-pattern.png");
    color: white;
}
.comicImage{
    width: 250px;
    display: flex;
}
.comicButton{
    display: block;
    float: right;
}
.comicCard{
    width: 300px;
}
.comicDetailsContainer{
    border: dashed;
    border-radius: 25px;
}